body{
    background-color: rgb(250, 207, 207);
    }
 h1{  

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

  }

img{
  width: 300px;
  height: 100px;
   max-width: 100%;
   height: auto;
   display: block;
  margin: 2cm;
  border-radius: 50%;
  border: 5px;
}
